.jumbotron {
    background-color: #182955;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 50px;
}

.card-header{
    background-color: #182955;
    color: white;    
}

.btn {
    background-color: lightgrey;
    border: 1px solid black;
}

.articles {
    background-color: #dcdcda;
    font-size: 24px;
}